---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<p style="text-decoration:underline;"><a href="/talkmap.html">🗺️ See a map of all the places I've given a talk!</a></p>


<!--
<h2>Upcoming talks</h2>

<ul>
  <li>3rd March 2020 - QCon-London: <a href="https://qconlondon.com/london2020/presentation/tornadovm-java-gpus-and-fpgas">link-> TornadoVM</a></a></li>
</ul> 


<h2>Past talks - abstracts and links</h2>

-->

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
