---
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<!--
<p style="text-decoration:underline;"><a href="/talkmap.html">🗺️ See a map of all the places I've given a talk!</a></p>
-->

<h2>Upcoming</h2>
<ul><li>TornadoVM: Harnessing the XPU Power from Java @ oneAPI UXL Summit 2024 - 10th October 2024 </li></ul>
<ul><li>Heterogeneous Computing from Managed Runtime Programming Languages: Opportunities and Challenges  - Invited Talk at the University of Salerno, Italy - 31st October 2024</li></ul> 


<h2>Past talks - abstracts and links</h2>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
