---
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<!--
<p style="text-decoration:underline;"><a href="/talkmap.html">🗺️ See a map of all the places I've given a talk!</a></p>
-->


<h2>Upcoming talks - October 2021 - December 2021 </h2>

<ul>
  <li>15th October 2021 - Invited talk at Huawei Strategy and Technology Workshop (STW) </li>
  <li>1st November 2021 - Qcon Plus (Virtual): Level Up Your Java Performance with TornadoVM [link](https://plus.qconferences.com/plus2021/presentation/level-your-java-performance-tornadovm)</li>
  <li>19nd November 2021 - Devoxx Ukraine 2021 (Virtual): TornadoVM [link](https://devoxx.com.ua/)</li>
  <li>8-9nd December 2021 - Javazone - Oslo: TornadoVM: Transparent Hardware Acceleration for Java…and Beyond!" [link](https://2021.javazone.no/#/)</li>

</ul> 


<h2>Past talks - abstracts and links</h2>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
